/* C:\Users\aluno.den\Downloads\JS\Programacao_de_Aplicativo-M2-1\aula004\src\components\ListaDeProduto\index.js */

ol {
  list-style-type: decimal;
  padding-left: 20px;
  width: 80%;
  margin-top: 10px;
}

ol li {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
}

ol li:last-child {
  border-bottom: none;
}
